electron_mirror="https://npm.taobao.org/mirrors/electron/"
electron-builder-binaries_mirror="https://npm.taobao.org/mirrors/electron-builder-binaries/"
node-linker=hoisted
public-hoist-pattern=*
shamefully-hoist=true
strict-peer-dependencies=false
